*
!*/
*.Rcheck/
**/__pycache__/

########################
# Archivos que NO ignora

!LICENSE
!license

## Latex
!*.tex
*-concordance.tex
!*.bib
!*.bst
!*.sty
!*.cls

## Codigo
!*.jl
!*.py
!*.R
!*.c
!*.sql
!*.sh
!*.java
!*.jar

## Texto
!*.md
!*.txt

## Otros
!makefile
!Makefile
!.keep
!.gitignore
